<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @ama.title %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @ama.start_date %>
</p>

<p>
  <strong>Speaker:</strong>
  <%= @ama.speaker_id %>
</p>

<p>
  <strong>State:</strong>
  <%= @ama.state %>
</p>

<%= link_to 'Edit', edit_ama_path(@ama) %> |
<%= link_to 'Back', amas_path %>
